{% extends "polihack_site/base.html" %}

{% block title %}
    Add Subject
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <h2>Add Subject</h2>
        <form method="post" enctype="multipart/form-data" id="subjectForm">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_name">Name:</label>
                <input type="text" class="form-control" id="id_name" name="name" value="{{ subject.name }}">
            </div>

            {{ form.as_p }}

            <h3>Drag & Drop Video</h3>
            <div class="dropzone" id="video-dropzone">
                Drag & Drop Video Here
            </div>
            <input type="file" style="display: none;" id="id_video_files" name="video_files" multiple>
            <div id="video-file-list"></div>

            <h3>Drag & Drop Document</h3>
            <div class="dropzone" id="document-dropzone">
                Drag & Drop Document Here
            </div>
            <input type="file" style="display: none;" id="id_pdf_files" name="pdf_files" multiple>
            <div id="document-file-list"></div>

            <h3>Planning Schedule</h3>
            <div id="dateFormInterval">
                <form id="dateFormInterval">
                        <label for="start_date">Start date:</label>
                        <!-- Display subject start date -->
                        <input type="date" class="form-control" id="id_start_date" name="start_date" value="{{ subject.start_date|date:'Y-m-d' }}">
                        <label for="end_date">End date:</label>
                        <!-- Display subject end date -->
                        <input type="date" class="form-control" id="id_end_date" name="end_date" value="{{ subject.end_date|date:'Y-m-d' }}">
                </form>
            </div>

            {{ minutes_formset.management_form }}
            <div id="formset">
                {% for form in minutes_formset %}
                    <!-- remove the last element -->
                    {% if not forloop.last %}
                        <div class="formset-row">
                            {{ form.date.label_tag }} {{ form.date }} {{ form.minutes.label_tag }} {{ form.minutes }}
                            <button type="button" class="btn btn-danger btn-sm remove-form">Remove</button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <!--<button type="button" class="btn btn-secondary" id="add-form">Add Another Entry</button>-->
            <button type="button" class="btn btn-primary" id="saveSubjectBtn">Save</button>
        </form>
    </div>
</div>


<style>


    .dropzone {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .dropzone.dragging {
        background-color: #f1f1f1;
    }

    .file-item {
        margin-top: 10px;
    }

    .formset-row {
        margin-bottom: 10px;
    }
    .error-message {
        color: red;
        font-weight: bold;
        font-style: italic;
        /* Add more styles as needed */
    }
</style>

<script>
     document.addEventListener("DOMContentLoaded", function () {
        const saveSubjectBtn = document.getElementById("saveSubjectBtn");

        saveSubjectBtn.addEventListener("click", function () {
            // Get the form element
            const subjectForm = document.getElementById("subjectForm");

            // Check if the form element exists
            if (subjectForm instanceof HTMLFormElement) {
                // Serialize form data
                const formData = new FormData(subjectForm);
                // Append the subject ID to the form data
                formData.append("subject_id", "{{ subject.id }}");

                // Send form data via AJAX
                fetch("/save_subject/", {
                    method: "POST",
                    body: formData,
                })
                .then(response => {
                    if (response.ok) {
                        // Subject saved successfully, you can redirect or perform other actions
                        console.log("Subject saved successfully");
                        window.location.href = "{% url 'subjects' %}"; // Redirect to home page
                    } else {
                        // Handle error response
                        console.error("Failed to save subject. "+ response.statusText);
                        //window.location.href = "{% url 'subjects' %}"; // Redirect to home page
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
            } else {
                console.error("Form element not found");
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("dateFormInterval");
        const startDateInput = document.getElementById("id_start_date");
        const endDateInput = document.getElementById("id_end_date");

        // Event listener for changes in date inputs
        form.addEventListener("change", function (event) {
            if (event.target === startDateInput || event.target === endDateInput) {
                // Redirect to the desired URL with subject ID
                // send the dates to the backend
                const start_date = startDateInput.value;
                const end_date = endDateInput.value;
                const subjectId = "{{ subject.id }}";
                window.location.href = `/edit_subject/${subjectId}`;
            }
        });
    });
    document.addEventListener('DOMContentLoaded', function() {
            var videoDropzone = document.getElementById('video-dropzone');
            var documentDropzone = document.getElementById('document-dropzone');

            function preventDefaults(e) {
                e.preventDefault();
                e.stopPropagation();
            }

            ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                videoDropzone.addEventListener(eventName, preventDefaults, false);
                documentDropzone.addEventListener(eventName, preventDefaults, false);
            });

            function highlight(dropzone) {
                dropzone.classList.add('dragging');
            }

            function unhighlight(dropzone) {
                dropzone.classList.remove('dragging');
            }

            ['dragenter', 'dragover'].forEach(eventName => {
                videoDropzone.addEventListener(eventName, () => highlight(videoDropzone), false);
                documentDropzone.addEventListener(eventName, () => highlight(documentDropzone), false);
            });

            ['dragleave', 'drop'].forEach(eventName => {
                videoDropzone.addEventListener(eventName, () => unhighlight(videoDropzone), false);
                documentDropzone.addEventListener(eventName, () => unhighlight(documentDropzone), false);
            });

            videoDropzone.addEventListener('drop', handleVideoDrop, false);
            documentDropzone.addEventListener('drop', handleDocumentDrop, false);

            function handleVideoDrop(e) {
                var dt = e.dataTransfer;
                var files = dt.files;
                var fileType = getFileType(files[0]);
                console.log(fileType);
                handleVideoFiles(files, fileType);
            }
            
            function handleDocumentDrop(e) {
                var dt = e.dataTransfer;
                var files = dt.files;
                var fileType = getFileType(files[0]);
                console.log(fileType);
                handleDocumentFiles(files, fileType);
            }
            
            function getFileType(file) {
                return file.type;
            }
            
            function handleVideoFiles(files, type) {
                if (type === 'video/mp4') {
                    var videoInput = document.getElementById('id_video_files');
                    videoInput.files = files;
                    console.log(files[0].name);
                    displayFile('video-file-list', files[0].name, type);
                } else {
                    console.log('error');
                    displayFile('video-file-list', files[0].name, 'error');
                }
            }

            function handleDocumentFiles(files, type) {
                if (type === 'text/plain' || type === 'application/pdf' || type === 'application/msword' || type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
                    var documentInput = document.getElementById('id_pdf_files');
                    documentInput.files = files;
                    console.log(files[0].name);
                    displayFile('document-file-list', files[0].name, type);
                } else {
                    console.log('error');
                    displayFile('document-file-list', files[0].name, 'error');
                }
            }
            
            function displayFile(target, fileName, type) {
                var fileList = document.getElementById(target);
                var fileItem = document.createElement('div');
                fileItem.className = 'file-item';
            
                if (target === 'video-file-list' && type === 'video') {
                    console.log('video');
                    fileItem.innerHTML = fileName + ' <button class="btn btn-danger btn-sm" onclick="removeFile(this, \'' + type + '\')">Delete</button>';
                    fileList.appendChild(fileItem);
                } else if (target === 'document-file-list' && (type === 'text/plain' || type === 'application/pdf' || type === 'application/msword' || type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document')) {
                    console.log('document');
                    fileItem.innerHTML = fileName + ' <button class="btn btn-danger btn-sm" onclick="removeFile(this, \'' + type + '\')">Delete</button>';
                    fileList.appendChild(fileItem);
                } else if (type === 'error'){
                    fileItem.innerHTML = '<p class="error-message">File type unsupported</p>';
                    fileList.appendChild(fileItem);                
                }
            }

            function removeFile(btn, type) {
                var fileList = btn.parentNode.parentNode;
                var fileItem = btn.parentNode;
                var fileName = fileItem.firstChild.textContent;
                fileItem.remove();

                if (type === 'video') {
                    var videoInput = document.getElementById('id_video_files');
                    videoInput.value = '';
                } else if (type === 'document') {
                    var documentInput = document.getElementById('id_pdf_files');
                    documentInput.value = '';
                }
            }

            var formset = document.getElementById('formset');
            var addFormButton = document.getElementById('add-form');

            addFormButton.addEventListener('click', function() {
                var newForm = formset.firstElementChild.cloneNode(true);
                formset.appendChild(newForm);
            });

            // Prevent deletion of the last formset row
            document.addEventListener('click', function(event) {
                if (event.target && event.target.classList.contains('remove-form')) {
                    var formsetRows = document.querySelectorAll('.formset-row');
                    if (formsetRows.length > 1) {
                        event.target.parentNode.remove();
                    }
                }
            });
    });
</script>
{% endblock %}
